* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 500px;
}

.post {
    display: flex;
    box-shadow: 0 0 10px #dddddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.post button {
    justify-content: right;
}